{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'img/logo_bookstop.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2> Tienda </h2><br>
        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 5px 0;">
                    <div class="col-12">
                        <div class="row card-equal-height">
                            {% for arti in articulo %}
                            {% if not request.GET.especie or arti.especie.nombreEspecie == request.GET.especie %}
                            <div class="col-6">
                                <div class="card text-center">
                                    {% if arti.imagen %}
                                        <img src="{{ arti.imagen.url }}" class="card-img-top mx-auto">
                                    {% else %}
                                        <img src="{% static 'img/sinfoto.webp' %}" class="card-img-top mx-auto">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-weight:bold;"> {{ arti.nombre }}</h5>
                                        <p class="card-text">
                                            Stock: {{ arti.stock }}<br>
                                            Precio:$ {{ arti.precio }}<br>
                                        </p>
                                        <a href="{% url 'agregar' arti.nombre %}" class="btn btn-outline-success">Agregar al carro</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h5> Filtrar</h5>
                <div>
                    <div>
                        <form method="GET">
                            <select name="especie">
                                <option value="">Filtrar especie</option>
                                <option value="Gato">Gato</option>
                                <option value="Perro">Perro</option>
                            </select>
                            <button type="submit">Filtrar</button>
                        </form>
                    </div>
                </div>
                {% include "carrito.html" %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
